opencv-python==4.10.0.84
scipy==1.13.1
tensorboard==2.16.2
tqdm
pytransform3d
imageio==2.34.1
plyfile==1.0.3
piq==0.8.0
lpips==0.1.4
matplotlib==3.5.3
scikit-image==0.22.0
seaborn==0.13.2
open3d==0.18.0
pytorch-lightning==2.4.0
scikit-learn==1.5.0
jupyter
trimesh==4.5.1
moviepy==1.0.3